body{
    background-color: #F6F6F6;
}
form{
    padding: 10px;
}
.formulaire{
    background-color: white;
    box-shadow: 0 4px 10px rgba(1, 22, 39, 0.2);
    border-radius: 3px;
}
.errorMsg{
    color: red;
    font-weight: bold;
}