:root {
    --color-bleu: #5FC3E1;
}

/* ======================== FORMULAIRE LOGIN - ADMINISTRATEUR ======================== */
.errorMsg{
    color: red;
    font-size: 10px;
    font-weight: bold;
}
.form-login{
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(1, 22, 39, 0.2);
}
.form-login button{
    padding: 5px 10px;
    background-color: var(--color-bleu);
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}
.form-login button:hover {
    opacity: 0.8;
}
.form-login a{
    text-decoration: none;
    color: black !important;
}
.form-login a:hover {
    text-decoration: underline;
}
