/* ======================== IMPORTS POLICES ======================== */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Barlow+Condensed:wght@700&display=swap');

/* ======================== MAIN ======================== */
:root {
    --color-bleu: #5FC3E1;
    --color-bleuf: #011627;
    --color-orange: #FF9F1C;
    --color-jaune: #FAD119;
    --color-rouge: #F71735;
}
/* ======================== FONTS ======================== */
@font-face {
    font-family: 'ej';
    src:  url('../images/fonts/ejb741.woff?fokl7l') format('woff'),
    url('../images/fonts/ejb741.svg?fokl7l#ej') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'ej', serif !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ======================== GLOBAL ======================== */
/* Couleurs principaux */
.color-blue{color: var(--color-bleu);}
.color-bleuf{color: var(--color-bleuf);}
.color-orange{color: var(--color-orange);}
.color-jaune{color: var(--color-jaune);}
.color-red{color: var(--color-rouge);}

/* Couleurs Backgrounds */
.fond-bleu { background-color: var(--color-bleu); }
.fond-bleuf { background-color: var(--color-bleuf); }
.fond-orange { background-color: var(--color-orange); }
.fond-jaune{ background-color: var(--color-jaune);}
.fond-red{ background-color: var(--color-rouge);}

/* Les Fonts personnalisés */
.font-1{
    font-family: 'Barlow', sans-serif;
}
.font-2{
    font-family: 'Barlow Condensed', sans-serif;
}
.font-3{
    font-family: 'ej', serif;
}

/* ======================== BOUTONS ======================== */
/* Général */

/* Bouton Don */
.bouton-don{
    background-color: var(--color-bleu);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-top: 8px;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.bouton-don:hover{
    background-color: var(--color-orange);
    color: var(--color-bleuf);
}

/* ======================== HEADER ======================== */
header{
    background-color: var(--color-bleuf);
}
nav{
    font-size: 0.8rem;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.logo{
    width: 250px;
}
.menu-options{
    font-weight: 700;
}
.navbar-elements{
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a {
    text-decoration: none;
}
.navbar-elements .menu-options {
    color: white;
    transition: 0.3s ease;
}
.navbar-elements .menu-options:hover{
    color: var(--color-bleu)!important;
    transform: scale(1.1, 1.1);
}
.logo-image img{
    width: 100px;
}
.icon-loupe:before {
    content: "\e907";
    color: #000;
    cursor: pointer;
}

/* ======================== PAGE D'ACCUEIL ======================== */
/* Section Intro */
.intro{
    background-image: url("../images/uploads/2021/09/bg-home.jpg");
}
.intro > .container {
    padding-top: 10em;
}
.intro-titre{
    font-size: clamp(3rem, 10.7vw - 1.7rem, 5rem);
    line-height: clamp(3rem, 10.7vw - 1.7rem, 5rem);
}
.intro-txt{
    font-size: 2rem;
    line-height: 2.8rem;
}
/* Section Intro Chiffres */
/* Responsive */
@media only screen and (max-width: 1023px) {
    .intro h1 {
        font-size: clamp(3.3rem, -2.875rem + 10.333333vw, 7.3rem);
        line-height: clamp(3.3rem, -2.875rem + 10.333333vw, 7.3rem);
    }
}

/* ======================== PAGE - AGIR AVEC NOUS  ======================== */
/* commentaire */



/* ======================== PAGE - FAIRE UN DON ======================== */
/* commentaire */



/* ======================== PAGE - NOS COMMUNAUTES ======================== */
/* commentaire */



/* ======================== PAGE - NOTRE ACTION ======================== */
/* commentaire */



/* ======================== PAGE - QUI SOMMES NOUS ======================== */
/* commentaire */



/* ======================== FOOTER  ======================== */
/* commentaire */



/* ======================== RESPONSIVE ======================== */





