/* ======================== IMPORTS POLICES ======================== */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Barlow+Condensed:wght@300;400;500;600;700&display=swap');

/* ======================== MAIN ======================== */
:root {
    --color-bleu: rgb(95, 195, 225);
    --color-bleuf: #011627;
    --color-orange: #FF9F1C;
    --color-jaune: #FAD119;
    --color-rouge: #F71735;
}
/* ======================== FONTS ======================== */
@font-face {
    font-family: 'ej';
    src:  url('../images/fonts/ejb741.woff?fokl7l') format('woff'),
    url('../images/fonts/ejb741.svg?fokl7l#ej') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'ej', serif !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ======================== GLOBAL ======================== */
/* Couleurs principaux */
.color-bleu{color: var(--color-bleu);}
.color-bleuf{color: var(--color-bleuf);}
.color-orange{color: var(--color-orange);}
.color-jaune{color: var(--color-jaune);}
.color-rouge{color: var(--color-rouge);}

/* Couleurs Backgrounds */
.fond-bleu { background-color: var(--color-bleu); }
.fond-bleuf { background-color: var(--color-bleuf); }
.fond-orange { background-color: var(--color-orange); }
.fond-jaune{ background-color: var(--color-jaune);}
.fond-rouge{ background-color: var(--color-rouge);}

/* Les Fonts personnalisés */
.font-1{font-family: 'Barlow', sans-serif;}
.font-2{font-family: 'Barlow Condensed', sans-serif;}

/* ======================== PAGE - NOS COMMUNAUTES ======================== */
